<div class="prices">
  <div class="original_price">
    Base price:
    <span class="price selling"><%= product_price(@product) %></span>
  </div>
  <%= render :partial => 'similar_products' %>
</div>

<% form_for :order, :url => orders_url do |f| %>
  <% if @product.has_variants? %>
    <div id="product-variants">
      <%= render :partial => 'selects', :locals => {:f => f} %>
    </div>
  <% end%>

  <% if @product.default_variant %>
    <div class="prices">
      <div class="modified_price">
        Current price:
        <span class="price selling update"><%= product_price(@product.default_variant) %></span>
      </div>
    </div>
  <% end %>

  <% if @product.has_stock? || Spree::Config[:allow_backorders] %>
    <%= text_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),
      1, :class => "title", :size => 3 %>
    &nbsp;
    <button type='submit' class='large primary'>
      <%= image_tag('/images/add-to-cart.png') + t('add_to_cart') %>
    </button>
  <% else %>
    <%= content_tag('strong', t('out_of_stock')) %>
  <% end %>
<% end %>

<% if @product.photo_required? %>
  This product requires a photography, to be uploaded after order is complete.
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag 'product' %>
<% end %>

<script type="text/javascript">
  $(".product_jump input").each(function(i,e){$(e).hide()})
  $(".product_jump select").bind("change", function(ev){
    // TODO: Put some kind of visual indicator page is reloading here
    try {
      window.location.replace( this.value );
    } catch(e) {
      $(this).parents('form').submit();
    }
  })
</script>