<% if @object.new_record? || current_user == @object.author_id %>
  <tr>
    <td><%= t("filename") %>:</td>
    <td><%= f.file_field :attachment %></td>
  </tr>
<% end %>
<tr>
  <td><%= t("notes") %>:</td>
  <td><%= f.text_area :notes %></td>
</tr>
<tr>
  <td><%= t("line_item") %>:</td>
  <td><%= f.collection_select :viewable_id, @line_items, :id, :description %></td>
</tr>

<%= f.hidden_field :viewable_type, :value => 'LineItem' %>
