<h1> Order images </h1>

<% grouped_images = @images.group_by{|i| i.viewable.id} %>

<table class="index">
  <thead>
    <tr>
      <th><%= t("thumbnail") %></th>
      <th><%= t("notes") %></th>
      <th><%= t("action") %></th>
    </tr>
  </thead>

  <% @line_items.each do |item|  %>
    <tbody>
      <tr class="line_item_description">
        <td colspan="3"><%= item.description %></td>
      </tr>

      <% if grouped_images[item.id] %>
        <% grouped_images[item.id].each do |image| %>
          <tr id="<%= dom_id(image) %>" class="<%= image.author_id == @order.user_id ? 'user' : 'artist' %>">
            <td class="thumbnail"><%= link_to(image_tag(image.attachment.url(:small)), image.attachment.url(:original)) %></td>
            <td><%= image.notes %></td>
            <td class="actions">
              Author: <%= image.author && image.author.login %><br /><br />
              <%= link_to_with_icon('edit', t("edit"), edit_order_image_url(@order, image)) %>
              &nbsp;
              <%= link_to_delete image, {:url => order_image_url(@order, image) } %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr class="no_images">
          <td colspan="3">This item still doesn't have images uploaded. Please add one!</td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div id="images"></div>
<br />

<p>
  <%= link_to icon('add') + ' ' + t("new_image"), new_order_image_url(@order), :id => "new_image_link" %> 
  <%= link_to icon('accept') + ' ' + t("approve_preview"), approve_order_url(@order), :id => "accept_order_link", :method => 'post' if @order.can_approve_preview? %>
  <%= link_to icon('cross') + ' ' + t("reeject_preview"), reeject_order_url(@order), :id => "reeject_order_link", :method => 'post' if @order.can_reeject_preview? %>
</p>

<% content_for :head do %>

  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

  <script type="text/javascript">
    jQuery(document).ready(function() {

      jQuery('#new_image_link').click(function (event) {
        event.preventDefault();
        jQuery(this).hide();
        jQuery.ajax({type: 'GET', url: this.href, data: ({authenticity_token: AUTH_TOKEN}), success: function(r) {
            jQuery('#images').html(r);
          } });
      });

    });
  </script>
<% end %>

<style type="text/css">
  .line_item_description td{
    padding-left: 10px;
    background-color: #eee;
    margin-top: 10px;
  }

  .no_images td {
    padding-left: 30px;
    background-color:  #F4B4B4;
  }

  .user {
    border: 1px solid #B8E2EF;
  }

  .artist {
    border: 1px solid #72FE95;
  }

  p img {
    float: none;
  }
</style>